@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Lora&display=swap');

/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e

- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
:root {
  --primary-100: #f1f9ff;
  --primary-200: #e1f3ff;
  --primary-300: #c9eaff;
  --primary-400: #74c0fc;
  --primary-500: #3f9cf5;
  --primary-600: #3688e3;
  --greys: #888;
  --lightest-grey: #767676;
  --lightest-grey-on-white: #6f6f6f;
  --lightest-grey-on-tints: #555;
  --lightest-grey-on-shades: #333;
  --font-sizes: 10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 /
    86 / 98;
  --font-weights: 400 / 500 / 600 / 700;
  --line-heights: 1 / 1.05 / 1.2 / 1.6;
  --letter-spacing: -0.5px / 0.75px;
  --shadows: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  --border-radius: 9px / 11px;
  --whitespace: 2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* font-size: 10px; */
  /* 10px / 16px = 0.625 = 62.5% */
  /* Percentage of user's browser font-size setting */
  font-size: 62.5%;
}

body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
/**************************/
/* Typography */
/**************************/
/* heading */
.font-heading {
  font-family: "Lora", serif;
  font-weight: 400;
  color: var(--lightest-grey-on-shades);
  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
}

.font-heading--xxl {
  font-size: 6rem;
  line-height: 6rem;
}

.font-heading--xl {
  font-size: 4.8rem;
  line-height: 4.8rem;
}

.font-heading--lg {
  font-size: 3.6rem;
  line-height: 4rem;
}

.font-heading--md {
  font-size: 3rem;
  line-height: 3.6rem;
}

.font-heading--sm {
  font-size: 2.4rem;
  line-height: 3.2rem;
}

.font-heading--xs {
  font-size: 2rem;
  line-height: 2.8rem;
}
/* content */
.font-content {
  font-weight: 400;
  /* font-family: "Inter", sans-serif; */
}

.font-content--xl {
  font-size: 2rem;
  line-height: 2.8rem;
}

.font-content--lg {
  font-size: 1.8rem;
  line-height: 2.8rem;
}

.font-content--md {
  font-size: 1.6rem;
  line-height: 2.4rem;
}

.font-content--sm {
  font-size: 1.4rem;
  line-height: 2rem;
}
.font-content--sm--gray {
  color: var(--gray-300);
}

.font-content--xs {
  font-size: 1.2rem;
  line-height: 1.6rem;
}

/**************************/
/* GENERAL REUSABLE COMPONENTS */
/**************************/

.container {
  /* 1140px */
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 4.8rem;
  row-gap: 6.4rem;

  /* margin-bottom: 9.6rem; */
}

/* .grid:last-child {
  margin-bottom: 0;
} */

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-family: "Lora", serif;
  font-weight: 400;
  color: var(--lightest-grey-on-shades);
  /* color: #45260a; */
  /* color: #343a40; */
  letter-spacing: -0.5px;
}

.heading-primary {
  font-size: 5.2rem;
  line-height: 6rem;
  margin-bottom: 3.2rem;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
}

.subheading {
  display: block;
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--primary-500);
  text-transform: uppercase;
  margin-bottom: .2rem;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 9px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;
}

.btn--full:link,
.btn--full:visited {
  background-color: var(--primary-400);
  color: #fff;
}

.btn--full:hover,
.btn--full:active {
  background-color: var(--primary-500);
}

.btn--outline:link,
.btn--outline:visited {
  background-color: #fff;
  color: #555;
}

.btn--outline:hover,
.btn--outline:active {
  background-color: var(--primary-100);

  /* border: 3px solid #fff; */

  /* Trick to add border inside */
  box-shadow: inset 0 0 0 3px #fff;
}

.btn--form {
  background-color: var(--primary-600);
  color: var(--primary-100);
  align-self: end;
  padding: 1.2rem;
}

.btn--form:hover {
  background-color: #fff;
  color: #555;
}

.link:link,
.link:visited {
  display: inline-block;
  color: var(--primary-400);
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: var(--primary-500);
  border-bottom: 1px solid transparent;
}

.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.list-icon {
  width: 3rem;
  height: 3rem;
  color: var(--primary-400);
}

*:focus {
  outline: none;
  /* outline: 4px dotted var(--primary-400); */
  /* outline-offset: 8px; */
  box-shadow: 0 0 0 0.8rem #74c0fc80;
}

/* HELPER/SETTINGS CLASSES */
.margin-right-sm {
  margin-right: 1.6rem !important;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.center-text {
  text-align: center;
}

strong {
  font-weight: 500;
}
