.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2.4rem;
}

.section {
  padding: 9.6rem 0 9.6rem 0;
}

.header__header {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
}

.center-text {
  text-align: center;
}

.margin-bottom--xs {
  margin-bottom: 0.8rem;
}
.margin-bottom--sm {
  margin-bottom: 1.6rem;
}
.margin-bottom--m {
  margin-bottom: 3.2rem;
}
.margin-bottom--md {
  margin-bottom: 4.8rem;
}

.margin-left--sm {
  margin-left: 2rem;
}
