@import url("./common.blocks/positioning.css");
@import url("./common.blocks/button--wsp.css");

/**************************/
/* HEADER */
/**************************/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-100);

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  padding-top: 4.8rem;
}

.logo {
  height: 7rem;
}

/**************************/
/* NAVIGATION */
/**************************/

/* .main-nav-list { */
/*   list-style: none; */
/*   display: flex; */
/*   align-items: center; */
/*   gap: 3.2rem; */
/* } */

/* .main-nav-link:link, */
/* .main-nav-link:visited { */
/*   display: inline-block; */
/*   text-decoration: none; */
/*   color: #333; */
/*   font-weight: 500; */
/*   font-size: 1.8rem; */
/*   transition: all 0.3s; */
/* } */

/* .main-nav-link:hover, */
/* .main-nav-link:active { */
/*   color: var(--primary-500); */
/* } */

/* .main-nav-link.nav-cta:link, */
/* .main-nav-link.nav-cta:visited { */
/*   padding: 1.2rem 2.4rem; */
/*   border-radius: 9px; */
/*   color: #fff; */
/*   background-color: var(--primary-400); */
/* } */

/* .main-nav-link.nav-cta:hover, */
/* .main-nav-link.nav-cta:active { */
/*   background-color: var(--primary-500); */
/* } */

/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: var(--primary-100);
  padding: 9.6rem 0;
}

.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  background-color: var(--primary-300);
  border-radius: 230px;
  width: 100%;
}

.delivered-meals {
  display: flex;
  align-items: center;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  height: 4.8rem;
  width: 4.8rem;
  border-radius: 50%;
  margin-right: -1.6rem;
  border: 3px solid var(--primary-100);
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: 600;
}

.delivered-text span {
  color: var(--primary-500);
  font-weight: 700;
}

/**************************/
/* VALUES */
/**************************/
.values__description {
  max-width: 75ch;
  margin: auto;
  margin-bottom: 6.4rem;
}
.values-container {
  display: flex;
  justify-content: center;
  gap: 6.4rem;
  margin-bottom: 3.2rem;
}

.values-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.values-img-box::before {
  content: "";
  display: block;
  position: absolute;
  top: 20%;
  z-index: -1;

  width: 80%;
  height: 80%;

  background-repeat: no-repeat;
  background-size: contain;
}
.shape-left::before {
  background-image: url("../img/shapes/left-bubble.png");
}
.shape-center::before {
  background-image: url("../img/shapes/center-bubble.png");
}
.shape-right::before {
  background-image: url("../img/shapes/right-bubble.png");
}

.values-img-box {
  position: relative;
  max-width: 8rem;
}
.values-img {
  width: 100%;
}
.values-box-title {
  color: var(--lightest-grey-on-shades);
  margin-bottom: 1.6rem;
}
.values-box-description {
  max-width: 30ch;
  margin: auto;
}

/**************************/
/* BIOGRAFIA */
/**************************/
.biography {
  /* Experimental */
  background-color: var(--primary-200);
  border-radius: 11px;
  margin-left: 6rem;
  margin-right: 6rem;
}
.biography-container {
  display: flex;
  align-items: flex-start;
  gap: 6.4rem;

  padding: 3.2rem;
  padding-bottom: 0;
  margin-bottom: 9.6rem;
}
.biography__img {
  width: 30%;
  border-radius: 11px;
  transform: rotateY(180deg);
}

.tab {
  display: flex;
  gap: 9.6rem;
}
.tab__bttn {
  display: block;
  padding: 3rem 2rem;

  color: #6c6c6c;
  border-left: #b4b2b2  solid 1.8px;

  cursor: pointer;
}
.tab__bttn--active {
  color: #010d17;
  border-left: #172632 solid 1.9px;
}

.tab__icon {
  width: 50px;
}
.tab__content-title {
  font-size: 1.8rem;
  font-weight: 500;
}

/**************************/
/* FOOTER */
/**************************/

.footer {
  padding: 12.8rem 0;
  border-top: 1px solid #eee;
}

.grid--footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.logo-col {
  display: flex;
  flex-direction: column;
}

.footer-logo {
  display: block;
  margin-bottom: 3.2rem;
}

.social-links {
  list-style: none;
  display: flex;
  gap: 2.4rem;
}

.social-icon {
  height: 2.4rem;
  width: 2.4rem;
}

.copyright {
  font-size: 1.4rem;
  line-height: 1.6;
  color: #767676;
  margin-top: auto;
}

.footer-heading {
  font-size: 1.8rem;
  font-weight: 500;
  margin-bottom: 4rem;
}

.contacts {
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.6;
}

.address {
  margin-bottom: 2.4rem;
}

.footer-nav {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 1.6rem;
  color: #767676;
  transition: all 0.3s;
}

.footer-link:hover,
.footer-link:active {
  color: #555;
}
